/* ALIGNMENT RULES AND STYLES */

/* WHOLE PAGE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    display: flex;

}

/* BODY OF PAGE */
body {
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh; 
    
}

/* HEADER AND FOOTER */
.header, .footer {
    background-color: #1F2937;
    width: 100%;
}

/* HEADER SECTION */
.header {
    display: flex;
    flex-direction: column;
}

/* TOP SECTION OF HEADER */
.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 150px;
}

.Header-links {
    display: flex;
    list-style-type: none;
}

.logo img {
    height: 52px;
    width: 42px;
}

a {
    text-decoration: none;
    color: #E5E7eb;
    font-size: 18px;
    padding-left: 12px;
}

/* BOTTOM SECTION OF HEADER */
.bottom-header {
    display: flex;
    justify-content: space-between;
    align-items: stretch; 
    padding: 89px 150px;
}

.introduction {
    flex: 1; 
    padding-right: 20px;
}

.image {
    flex: 1;
}

.introduction h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.introduction p {
    padding-top: 12px;
    color: #E5E7eb;
    padding-right: 65px;
    padding-bottom: 12px;
}

button {
    background-color: #3882f6;
    border-radius: 10px;
    padding: 10px 34px;
    font-size: medium;
    color: #f9faf8;
}

.introduction button {
    border: none;
}

.image img {
    height: 55vh;
    border-radius: 55px;
    border: 22px solid #E5E7eb;
}

/* CONTENT INFORMATION */
.content {
    padding: 35px 150px;
    flex: 1; 
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.information {
    padding-bottom: 12px;
    font-size: 32px;
    font-weight: bold;
    color: #1F2937;
}

.pictures-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex: 1;
}

.info-pictures {
    padding: 6px 6px;
    text-align: center;
}

.info-pictures img {
    border: 5px solid #3882f6;
    border-radius: 12px;
    height: 16vh;
}

.info-pictures .text {
    color: #445c7f;
}

/* QUOTE SECTION */
.quote {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 80px 67px; 
}

.quote .web-quote {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight:lighter;
    text-align: center;
}

.quote .author {
    text-align: right;
    font-weight: bold;
}

/* SUB-SIGN UP SECTION */
.sub-sign {
   display: flex;
   justify-content: center;
   padding-top: 45px ;
   padding-bottom: 45px;
}


.sub-sign-container {
    display: flex;
    gap: 550px;
    background-color: #3882f6;
    padding: 45px 85px;
    border-radius: 12px;
}

.sub-sign-container button {
border: 2px solid white;

}

p {

    color: #E5E7eb;
}

.paragraphs .bold-p {
    font-weight: bolder;
    font-size: 25px;
}

.paragraphs .small-p {
    font-size: 19px;
}

/* FOOTER SECTION */
.footer {
    background-color: #1F2937;
    color: #E5E7eb;
    text-align: center;
    padding: 18px 0;
}
